body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

div{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

img{
  max-height: 700px;
}

button{
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  background-color: green;
  color: white;
}
